.one-bg{
    background-image: url(images/bg-2.png);
     background-repeat: no-repeat;
}
.two-bg{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
}
.container{
    margin-bottom: 60px;
}
.redius-bg{
background-color: lavender;
border-radius: 10px;
}
.carousel-item{
    padding: 10px 30px;
}
.card-item{
    padding: 20px;
    box-shadow: 5px 5px 15px lightgrey;
    border: none;
    border-radius: 10px;
}
.card-body{
    padding: 20px;
    border: none;
    box-shadow: 5px 5px 15px lightgray;
    border-radius: 10px;
}